h1 {
    font-size: 30px;
    transition: 2s;
}

h1:hover {
    font-size: 100px;
}

a {
    color: pink;
    text-decoration: none;
}

p.spin {
    background: url(../images/frogge.jpeg) no-repeat top left, transparent;
    width: 400px;
    height:400px;
    animation-name: spin;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}